<h1 class="display-3">TRAD</h1>
<div>
  Tht Tool for Requirement Analysis and Documentation provides... Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
  tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem
  malesuada magna mollis euismod. Donec sed odio dui.
</div>
<div>
  <br/>
  <button type="button" class="btn btn-info" (click)="register()">Register</button>
  <button type="button" class="btn btn-primary" (click)="login()">Login</button>
</div>
