<h1 class="display-3">TRAD - Dashboard</h1>
<br />
<div class="dashboardContent">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Users</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <p><button type="button" class="btn btn-primary" (click)="manageUsers()">Manage Users &raquo;</button></p>
      </div>
      <div class="col-md-4">
        <h2>Requirements</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <p><button type="button" class="btn btn-primary" (click)="manageRequirements()">Manage Requirements &raquo;</button></p>
      </div>
      <div class="col-md-4">
        <h2>Data Entities</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
        <p><button type="button" class="btn btn-primary" (click)="manageDataEntities()">Manage Data Entities &raquo;</button></p>
      </div>
    </div>
  </div>
</div>

